table {
   margin-left: 30%;
   width: 40%;
   border-color: black;
   background-color: aquamarine;
   padding: 10px;
}
tr{
    transition:1s;
}
tr:hover{
   scale: 1.1;
   border-color: green;
   border-width: 10px;
}
